# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database files
*.sqlite3
*.db

# Environment variables
.env

# Log files
*.log

# ZIP archives
*.zip

# Backup zips
ATI_RotorFusion_FullBackup.zip
backup/*.zip

# Vector store data
vector_store/

